<!-- ESTE ES EL CÓDIGO CORRECTO PARA EL CONTROL REMOTO -->
<div class="control-panel">
  <app-panel-market-symbol (pairChange)="onPairChange($event)" (timeframeChange)="onTimeframeChange($event)"
    (limitChange)="onLimitChange($event)" [isSelectDisabled]="isRunning()"></app-panel-market-symbol>
  <div class="">
    <button (click)="onStart()" [disabled]="isRunning()" class="btn btn-start"> Iniciar Análisis </button>
    <button (click)="stop.emit()"  class="btn btn-stop"> Detener </button>
  </div>
</div>