:host {
    display: block;
    width: 100%;
    height: 100%;
}

.chart-wrapper {
    width: 100%;
    height: 100%;
    background: #0B0B1B;
    border-radius: 8px;
    border: 1px solid #2B2B43;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}