<div class="chart-wrapper">
  <div class="control-section">
    <app-control-panel></app-control-panel>
  </div>
  <div class="chart-header">
    <strong>Simbolo: {{symbol()?.market}}</strong>
    <!-- <strong>Gráfico de Trading - {{ symbol()?.market || 'LINKUSDT' }}</strong> -->
    <span>Precio actual: $ {{ currentPrice() || 0 }} USDT</span>
    <button class="follow-btn" >
      {{ isUserInteracting ? '🔒 Seguir Precio' : '🔓 Siguiendo' }}
    </button>
  </div>
  <div #chartContainer class="chart-container"></div>
</div>