    .btn-test {
        background: #007bff;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 4px;
        cursor: pointer;
        margin-bottom: 1rem;
        margin-top: 1rem;

        &:hover {
            background: #0056b3;
        }
    }

    .gpo-btn{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        gap: 1rem;
    }