/* trading-chart.component.scss */
.chart-container {
    border: 1px solid #2a2e39;
    border-radius: 4px;
    background: #131722;
}

.tv-lightweight-charts {
    width: 100% !important;
}

.status-panel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-flow: row nowrap;
}