<main class="dashboard-container">
  <header class="dashboard-header">
    <h1>ZION CAPITAL ALGORITHM</h1>
    <div class="status-info">
      <span>Estado: {{ isRunning() ? '🟢 Analizando' : '🔴 Detenido' }}</span>
      <!-- @if (lastUpdate(); as update) {
      <span>Última actualización: {{ update | date:'HH:mm:ss' }}</span>
      } -->
    </div>
  </header>

  <div class="control-section">
    <app-control-panel (start)="startAnalysis()" (stop)="stopAnalysis()"></app-control-panel>
  </div>

  <div class="main-content">
    <section class="chart-section">
      <app-charts [candles]="candles()" [symbol]="marketInfo()!"></app-charts>
      <!-- <app-trading-chart ></app-trading-chart> -->
      <!-- <app-orden-list ></app-orden-list> -->
      <!-- <app-test></app-test> -->
    </section>

    <aside class="side-panels">
      <app-paper-trading-dashboard></app-paper-trading-dashboard>
      <!-- <app-ai-response-panel [aiResponse]="aiResponse()"></app-ai-response-panel> -->
    </aside>
  </div>
</main>