<div class="chart-wrapper">
  <div class="control-section">
    <app-control-panel (start)="startAnalysis()" (stop)="stopAnalysis()" [isRunning]="isLoadAnalysis()"></app-control-panel>
  </div>
  <div class="chart-header">
    <strong>Simbolo: {{symbol()?.market}}</strong>
    <!-- <strong>Gráfico de Trading - {{ symbol()?.market || 'LINKUSDT' }}</strong> -->
    <span>Precio actual: $ {{ currentPrice() || 0 }} USDT</span>
    <button class="follow-btn" (click)="resetZoomAndFollow()">
      {{ isUserInteracting ? '🔒 Seguir Precio' : '🔓 Siguiendo' }}
    </button>
  </div>

  <div class="chart-info">
    <!-- <span>Velas cargadas: {{ candles()?.length || 0 }}</span> -->
    <span>Estado: {{ isUserInteracting ? 'Manual' : 'Automático' }}</span>
  </div>

  <div #chartContainer class="chart-container"></div>

  <div class="chart-controls">
    <small>💡 Usa la rueda del mouse para zoom | Click y arrastra para desplazar</small>
  </div>
</div>