<div class="chart-wrapper">
  <div class="chart-header">
    <span>Simbolo: {{symbol()?.market}}</span>
    <h3>Gráfico de Trading - {{ symbol()?.market || 'LINKUSDT' }}</h3>
    <button class="follow-btn" (click)="resetZoomAndFollow()">
      {{ isUserInteracting ? '🔒 Seguir Precio' : '🔓 Siguiendo' }}
    </button>
  </div>

  <div class="chart-info">
    <!-- <span>Velas cargadas: {{ candles()?.length || 0 }}</span> -->
    <span>Estado: {{ isUserInteracting ? 'Manual' : 'Automático' }}</span>
  </div>

  <div #chartContainer class="chart-container"></div>

  <div class="chart-controls">
    <small>💡 Usa la rueda del mouse para zoom | Click y arrastra para desplazar</small>
  </div>
</div>