.btn-sell {
    // margin-left: auto;
    background: #911010;

    &:hover {
        background: #691111;
    }
}

.btn-desactivar {
    color: #fff !important;

    background: #3f3f3f !important;

    &:hover {
        color: #fff !important;
        background: #c7c7c7 !important;
    }
}

.buy {
    border-left-color: #4caf50;
    background: #f1f8e9;
}

.btn-gpo {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

input {
    width: 17%;
    height: 4%;
    max-width: 20%;
    max-height: 8%;
    padding: 5px;
}

.form-input.ng-invalid.ng-touched {
    border-color: #dc3545;
    /* Rojo */
    box-shadow: 0 0 0 1px #dc3545;
}